swagger: "2.0"
info:
  description: "API Definition for HomeSeer"
  version: "1.0.0"
  title: "HomeSeer API"
  contact:
    email: "tom@khubla.com"
host: "homeseer.khubla.com"
basePath: "/v2"
tags:
- name: "homeseer"
  description: "HomeSeer Operations"
schemes:
- "https"
- "http"
paths:
  /homeseer/systems:
    get:
      tags:
      - "homeseer"
      summary: "Get all systems"
      description: "This can only be done by the logged in user."
      operationId: "getSystems"
      produces:
      - "application/json"
      responses:
        '200':
          description: list of systems
          schema:
            type: array
            items:
              $ref: '#/definitions/System'
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/locations1:
    get:
      tags:
      - "homeseer"
      summary: "Get all locations 1"
      description: "This can only be done by the logged in user."
      operationId: "getLocations1"
      produces:
      - "application/json"
      responses:
        '200':
          description: list of locations
          schema:
            type: array
            items:
              $ref: '#/definitions/Location'
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/locations2:
    get:
      tags:
      - "homeseer"
      summary: "Get all locations 2"
      description: "This can only be done by the logged in user."
      operationId: "getLocations2"
      produces:
      - "application/json"
      responses:
        '200':
          description: list of locations
          schema:
            type: array
            items:
              $ref: '#/definitions/Location'
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/devices:
    get:
      tags:
      - "homeseer"
      summary: "Get all devices"
      description: "This can only be done by the logged in user."
      operationId: "getDevices"
      produces:
      - "application/json"
      responses:
        '200':
          description: list of devices
          schema:
            type: array
            items:
              $ref: '#/definitions/Device'
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/device/{ref}:
    get:
      tags:
      - "homeseer"
      summary: "Get device"
      parameters:
      - in: path
        name: ref
        type: integer
        required: true
        description: Reference ID of device
      description: "This can only be done by the logged in user."
      operationId: "getDevice"
      produces:
      - "application/json"
      responses:
        '200':
          description: get device by id
          schema:
            type: Device
            $ref: '#/definitions/Device'
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/events:
    get:
      tags:
      - "homeseer"
      summary: "Get all events"
      description: "This can only be done by the logged in user."
      operationId: "getEvents"
      produces:
      - "application/json"
      responses:
        '200':
          description: list of events
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/changeddevices:
    get:
      tags:
      - "homeseer"
      summary: "Get id's of all changed devices"
      description: "This can only be done by the logged in user."
      operationId: "getChangedDevices"
      produces:
      - "application/json"
      responses:
        '200':
          description: list of ids
          schema:
            type: array
            items:
              type: integer
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/counter/{name}:
    get:
      tags:
      - "homeseer"
      summary: "Get counter value"
      parameters:
      - in: path
        name: name
        type: string
        required: true
        description: Name of counter
      description: "This can only be done by the logged in user."
      operationId: "getCounter"
      produces:
      - "application/json"
      responses:
        '200':
          description: list of counters
          schema:
            type: object
            $ref: '#/definitions/Counter'
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/setting/{name}:
    get:
      tags:
      - "homeseer"
      summary: "Get setting value"
      parameters:
      - in: path
        name: name
        type: string
        required: true
        description: Name of setting
      description: "This can only be done by the logged in user."
      operationId: "getSetting"
      produces:
      - "application/json"
      responses:
        '200':
          description: setting value
          schema:
            type: string
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/event/{id}:
    post:
      tags:
      - "homeseer"
      summary: "Run Event"
      parameters:
      - in: path
        name: id
        type: integer
        required: true
        description: event id
      description: "This can only be done by the logged in user."
      operationId: "runEvent"
      produces:
      - "application/json"
      responses:
        '200':
          description: ok
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/controlDeviceByLabel/{ref}/{label}:
    post:
      tags:
      - "homeseer"
      summary: "Control device by label"
      parameters:
      - in: path
        name: ref
        type: integer
        required: true
        description: device ref id
      - in: path
        name: label
        type: string
        required: true
        description: value
      description: "This can only be done by the logged in user."
      operationId: "controlDeviceByLabel"
      produces:
      - "application/json"
      responses:
        '200':
          description: ok
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
  /homeseer/controlDeviceByValue/{ref}/{value}:
    post:
      tags:
      - "homeseer"
      summary: "Control device by label"
      parameters:
      - in: path
        name: ref
        type: integer
        required: true
        description: device ref id
      - in: path
        name: value
        type: number
        format: double
        required: true
        description: value
      description: "This can only be done by the logged in user."
      operationId: "controlDeviceByValue"
      produces:
      - "application/json"
      responses:
        '200':
          description: ok
        '401':
          description: 'Not Authenticated'
        '403':
          description: 'Access token does not have the required scope'
securityDefinitions:
  basicAuth:
    type: basic
security:
  - basicAuth: []
definitions:
  System:
    type: "object"
    properties:
      license:
        type: "string"
      friendly_name:
        type: "string"
    xml:
      name: "System"
  Location:
    type: "string"
    xml:
      name: "Location"
  Device:
    type: "object"
    properties:
      ref:
        type: "integer"
      name:
        type: "string"
      location:
        type: "string"
      location2:
        type: "string"
      value:
        type: "number"
      status:
        type: "string"
      lastchange:
        type: "integer"
        format: "int64"
      device_type_string:
        type: "string"
    xml:
      name: "Device"
  Event:
    type: "object"
    properties:
      group:
        type: "string"
      name:
        type: "string"
      id:
        type: "string"
    xml:
      name: "Event"
  Counter:
    type: "object"
    properties:
      group:
        type: "string"
      name:
        type: "string"
      id:
        type: "string"
    xml:
      name: "Event"